.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .params{
    margin: 10px;
    min-width: 175px;
  }
  
  .paramBlock{
    display:flex;
    justify-content:space-around;
    align-items: center;
    border: 1px solid black;
    background-color:yellow;
    padding: 10px 25px;
    margin: 10px;
    -webkit-transition: box-shadow .3s;
    transition: box-shadow .3s;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }
  
  .paramBlock:hover, .longest:hover, .total:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);;
  }
  
  .mainBlock{
    padding: 10px;
    font-weight: bold;
    min-width: 900px;
  }
  
  input[type=button]{
    margin-left: 20px;
    background-color: rgb(5, 107, 91);
    border: 1px solid white;
    color: white;
  }
  
  input[type=button]:hover{
    background-color: rgb(230, 227, 233);
    border: 1px solid teal;
    color: teal;
  }
  
  .title{
    text-align: center;
    border: 1px solid rgb(28, 131, 129);
    padding: 10px 20px;
    margin: 15px;
    background:rgb(28, 131, 129);
  }
  
  .form{
    margin: 15px;
    background-color: rgb(126, 97, 195);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  form>input,select{
    border: 0;
    padding: 10px;
    background-color: none;
  }
  
  .total,.longest{
    background-color: darkorchid;
    padding: 10px 30px;
    margin: 15px;
    min-width: 250px;
    color:white;
  }

  